.subtotal {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* font-weight: 480;
  font-size: 20px; */
  object-fit: contain;

  bottom: 50%;
  padding: 20px;
}

.subtotal_info {
  font-size: 20px;
  font-weight: 450;
}

.subtotal_gift {
  display: flex;

  object-fit: contain;
  align-items: center;
}

.subtotal > button {
  background: gold;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-size: 12px;
  margin-top: 10px;
  border-color: gold goldenrod rgb(165, 122, 42);
  color: black;
}
